multitenancy_enabled: false

server:
  http_listen_port: 9009
  grpc_listen_port: 9095

common:
  storage:
    backend: filesystem
    filesystem:
      dir: /tmp/mimir/data/common

blocks_storage:
  backend: filesystem
  filesystem:
    dir: /tmp/mimir/data/blocks
  bucket_store:
    sync_dir: /tmp/mimir/data/tsdb-sync

compactor:
  data_dir: /tmp/mimir/data/compactor
  sharding_ring:
    kvstore:
      store: inmemory

ingester:
  ring:
    replication_factor: 1
    kvstore:
      store: inmemory

store_gateway:
  sharding_ring:
    replication_factor: 1
    kvstore:
      store: inmemory

ruler:
  rule_path: /tmp/mimir/data/rules
  alertmanager_url: http://localhost:9093
